@font-face {
  font-family: 'Restaurant';
  src: url('./Restaurant.otf');
}

body {
  background-image: url('./background.png');
  background-size: 250px;
  background-attachment: fixed;
}

.mt-container {
  margin-top: 42px;
}

.bg-navbar {
  background-color: rgba(83, 70, 28, 0.979);
}

.banner {
  height: 100%;
}

.bg-title {
  background-color: rgba(0, 0, 0, 0.548);
}

.d-inherit {
  display: inherit;
}

.tf-restaurant {
  font-family: 'Restaurant';
}

